In [1]:
x = lambda a : a + 10
print(x(5))

15

In [2]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [3]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [4]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [6]:
myfunc(3)(11)

33

In [7]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11)) 
print(mytripler(11))

22
33

In [8]:
cars = ["Ford", "Volvo", "BMW"]

In [9]:
x = len(cars)

In [10]:
x

3

In [11]:
class MyClass:
  x = 5

In [12]:
x

3

In [13]:
class MyClass:
  x = 5

In [14]:
p1 = MyClass()
print(p1.x)

5

In [15]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36